body {
    margin: 0;
    font-family: 'Roboto', helvetica, arial, sans-serif;
}
header {
    background: #03a9f4;
    text-align: center;
}
.logo {
    color: #fff;
    font-size: 40px;
    font-family: 'Anton', sans-serif;
}
header input {
    font-size: 20px;
    margin: 20px 0;
}
.news_item {
    box-sizing: border-box;
    border-bottom: 1px solid grey;
    padding: 10px 20px 30px 20px;
}